*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
body{
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
		text-align: center;
		margin-left: 0px;
	margin-right: 0px;
}
	a {
    text-decoration: none;
    color: black;
    width: 100%;
}
h1{
	margin-top: 170px;
	 border-top: solid 2px;
	   padding-top: 70px;
	   margin-right: 20%;
	   margin-left:20%;
}
h2{
	margin-top: 100px;
	margin: auto;
	margin-bottom: 100px;
	 border-bottom: solid 2px;
	   padding-bottom: 50px;
}
h3{
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
}
h4{
	font-size: 20px;
	font-weight:bold;
	margin-top: 70px;
	text-align: center;
	margin-bottom: 100px;
}
h5{
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
h6{
	font-size: 15px;
	width: 70%;
	 line-height: 20px;	
	 text-align: center;
	 margin: auto;
}
p{
font-size: 15px;
	width: 70%;
	 line-height: 25px;	
	 text-align: justify;
	 margin: auto;
	 margin-top: 30px;
}
.items{
	letter-spacing: 4px;
	font-size: 17px;
	width: 80%;
	 line-height: 130px;
	  margin: auto;
}
#sobremi{
	background-image: url(http://wiki.ead.pucv.cl/images/b/b0/Sobremi1-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;
	   margin-bottom: 50px;
}
#contacto{
	border:solid 1px black;
	height: auto;
	  margin-bottom: 50px;
}
#proyectositem{
background-image: url(http://wiki.ead.pucv.cl/images/9/93/Proyectos-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;
}
.encabezado{
	font-size: 20px;
	width: 23%;
	  line-height: 25px;
	  margin-top: 30px;
	   margin: auto;
	   border-bottom: solid 1px;
	   padding-bottom: 10px;
}
#titulo{
	font-size: 30px;
}
#subtitulo{
	font-size: 17px;
		width: 40%;
		line-height: 30px;
	margin: auto;
}
#proyectos{
	margin-top: 100px;
	font-size: 20px;
	float: center;
}
#contraste{
	background-image: url(http://wiki.ead.pucv.cl/images/b/b5/Contraste-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;	
	 	 margin-bottom: 50px;
}
#asidesimple{
	margin: auto;
	background-image: url(http://wiki.ead.pucv.cl/images/2/2f/Asidesimple-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;	
	 	 margin-bottom: 50px; 
}
#grafiti{
	margin: auto;
	background-image: url(http://wiki.ead.pucv.cl/images/0/00/Grafiti-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;	
	 	 margin-bottom: 50px;
}
#tibet{
	background-image: url(http://wiki.ead.pucv.cl/images/6/6a/Tibet-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;	
	 margin:auto;
	 	 margin-bottom: 50px;
}
#elflujodelaspersonas{
	background-image: url(http://wiki.ead.pucv.cl/images/d/d7/Flujo_11-01.png);
	background-size:cover;
	 background-repeat: no-repeat;	
	 margin: auto;
	 height: auto;
}
#botonenviar{
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 4px;
	border-bottom: solid black 2px;
	width: 30%;
	text-align: center;
	padding-bottom: 10px;
	margin: auto;
	margin-top: 70px;
}
input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    margin-top:50px;
    padding-top: -10px;
    padding-right: 10px;
    text-align: left;
    margin-left: 5%;
}
#lineas{
	text-align: right;
	margin-right: 15%;
}
select {
    width: 60%;
     background-color: white;
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: -20px;
    text-align: right;
	margin-right: -12%;
}
#ocupacion{
	margin-top: 5px;
	margin-left: 10%;
	text-align: left;
}
#formulario{
	text-align: right;
	margin-right: 25%;
	margin-top: -50px;
}
input[type=mensaje] {
     width: 65%;
      border: 1px solid black;
      height: 150px;
    margin-top: 20px;
    margin: auto;
}
#mensaje{
	text-align: left;
	margin-left: 20%;
	margin-top: 30px;
	margin-bottom: 20px;
}
#uno{
	width: 70%;
	margin-top: 50px;
}
#dos{
	width: 30%;
	margin-top: 150px;
}
#tres{
	width: 70%;
	margin-bottom: 30px;
}
.c1,.c2,.a1{
	width: 70%;
	margin: auto;
}
.grafiti{
	width: 80%;
	margin: auto;
}
#partefinal{
	background: grey no-repeat center fixed;
	background-size: cover;
width: 100%;
margin:none;
margin-top: 70px;
height: 70px;
padding-top: 20px;
}
@media screen and (max-width: 1366px) and (min-width: 768px){
.viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
.encabezado{
	font-size: 30px;
	  line-height: 40px;
	  margin-top: 40px;
	   border-bottom: solid 2px;
	   padding-bottom: 20px;
	   width: 15%;
	   text-align: center;
	   position: center;
	   margin: auto;
}
h1{
	margin-top: 250px;
	   padding-top: 100px;
	   margin-bottom: 50px;
	   border-top: solid 3px;
}
#titulo{
	font-size: 50px;
}
h2{
	margin-top: 30px;
	margin-bottom: 200px;
	   padding-bottom: 30px;
	   border-bottom: solid 3px;
	   width: 50%;
	   line-height: 45px;
}
#subtitulo{
	font-size: 25px;
	}
.items{
	letter-spacing: 10px;
	font-size: 23px;
	 line-height: 150px;
}
#sobremi{
	background-image: url(http://wiki.ead.pucv.cl/images/b/b0/Sobremi1-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;
	 margin-bottom: 100px;
}
#proyectositem{
background-image: url(http://wiki.ead.pucv.cl/images/9/93/Proyectos-01.png);
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;
	 margin-bottom: 100px;
}
#contacto{
	border:solid 1px black;
	height: auto;
	margin-bottom: 100px;
}
h3{
	font-size: 50px;
	margin-top: 200px;
	margin-bottom: 200px;
}
p{
font-size: 20px;
	 line-height: 40px;	
	 columns: 2;
	 column-gap: 100px;
	 margin:auto;
}
#uno{
	width: 50%;
	margin-top: 100px;
	text-align: left;
	margin-left: -50%;
}
#botonenviar{
	font-size: 27px;
	letter-spacing: 7px;
	padding-bottom: 30px;
	margin-top: 100px;
	width: 15%;
}
input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    margin-top:70px;
      height: 150px;
    margin: auto;
    padding-top: 140px;
}
#fname{
	text-align: left;
	margin-left: 1%;
}
#lineas{
	text-align: right;
	margin-right: 15%;
	font-size: 30px;
}
select {
    width: 60%;
     background-color: white;
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: -10px;
    text-align: right;
	margin-right: -13%;
}
#ocupacion{
	margin-top: 100px;
	margin-left: 23%;
	text-align: left;
	font-size: 30px;
}
#formulario{
	text-align: right;
	margin-right: 25%;
	margin-top: -170px;
}
input[type=mensaje] {
     width: 65%;
      border: 2px solid black;
      height: 400px;
    margin-top: 20px;
    margin: auto;
}
#mensaje{
	text-align: left;
	margin-left: 24%;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
}
h5{
	font-size: 50px;
	margin-top: 70px;
	margin-bottom: 70px;
}
h6{
	font-size: 20px;
	 line-height: 25px;	
}
#dos{
	width: 20%;
	margin-top: 150px;
}
#proyectos{
	margin-top: 200px;
	font-size: 23px;
	margin-left: 20%;
	margin-right: 20%;
}
#contraste{
	background-size:cover;
margin-bottom: 70px;
}
#asidesimple{
	background-size:cover;
	height: auto;
	margin-bottom: 70px;	 	 
}
#grafiti{
	background-size:cover;
	margin-bottom: 70px;	 
}
#tibet{
	background-size:cover;
	height: auto;
		margin-bottom: 70px;	 
}
#elflujodelaspersonas{
	background-size:cover;
	height: auto;
	 background-repeat: no-repeat;	
	 margin-bottom: 70px;	 
}
h4{
	font-size: 23px;
	margin-top: 100px;
	margin-bottom: 100px;
}
#partefinal{
margin-top: 200px;
}
#imagenes{
	display: flex;
	flex-direction: row;
}
.columna1,.columna2{
	display: flex;
	flex-direction: column;
}
.c1{
	width: 60%;
	margin-bottom: 5px;
}
.c2{
	width: 60%;
margin-bottom: 5px;
margin-top:0;
}
.a1{
	width: 50%;
	margin-bottom: 5px;
	margin-left: 25%;
}
.columna1{
	margin-top: 40px;
		margin-left: 7%;
}
.columna2{
	margin-right: 7%;
	margin-top: 50px;
}


